body {
  padding: 0;
  margin: 0 auto;
  /* -webkit-text-size-adjust: none; */
  text-size-adjust: none;
  font-size: 16px;
}

:root,
input {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root,
  input {
    font-family:
      InterVariable,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
  }
}

a {
  --at-apply: text-primary underline-offset-.25em;
  text-decoration-color: rgb(from currentColor r g b / 0.2);
  transition: text-decoration-color 300ms;
}

a:hover {
  text-decoration-color: currentColor;
}

p {
  --at-apply: line-height-relaxed;
}

table {
  border-collapse: collapse;
  --at-apply: border-y-solid border-y-1 border-gray-200 'dark:border-dark-100' w-full;
}

tr,
th,
td {
  --at-apply: border-y-solid border-y-1 border-gray-200 p-4 'dark:border-dark-100';
}

td {
  --at-apply: bg-light-200 'dark:bg-dark-400';
}

hr {
  --at-apply: border-solid border-0 b-t-1 border-gray-200 'dark:border-dark-100';
}

img {
  --at-apply: object-contain max-w-full h-auto;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  color: var(--text-color);
  --text-color: #000;
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    transition: all;
    --text-color: #e5e5e5;
    background-color: #121212;
  }
}

h1 .header-anchor,
h2 .header-anchor,
h3 .header-anchor,
h4 .header-anchor,
h5 .header-anchor,
h6 .header-anchor {
  opacity: 0;
  transition: opacity 0.2s;
  margin-left: -0.9em;
  text-decoration: none;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
  opacity: 1;
}

blockquote {
  margin: 16px 0;
  padding-left: 16px;
  transition: border-color 0.5s;
  --at-apply: 'color-gray-500 border-l-2 border-l-solid border-gray-200 dark:border-dark-100 dark:color-truegray-400';
}

li {
  --at-apply: line-height-relaxed;
}

mjx-container {
  overflow-x: auto;
  overflow-y: hidden;
}

*::selection {
  --at-apply: 'bg-amber-500/30 dark:bg-amber-300/40';
}

mark {
  background-color: unset;
  --at-apply: 'decoration-amber-500/60 dark:decoration-amber-300/50 underline';
  text-decoration-thickness: 60%;
  text-underline-offset: -40%;
  color: inherit;
}

.new-year {
  font-family: 'Ephesis', 'Liu Jian Mao Cao', serif;
  font-optical-sizing: auto;
}

li::marker {
  color: rgb(from currentColor r g b / 0.4);
}
