mjx-container[overflow='scroll'][display] {
  overflow: auto clip;
  min-width: initial !important;
}
mjx-container[overflow='truncate'][display] {
  overflow: hidden clip;
  min-width: initial !important;
}
mjx-container[display] {
  display: block;
  text-align: center;
  justify-content: center;
  margin: calc(1em - 2px) 0;
  padding: 2px 0;
}
mjx-container[display][width='full'] {
  display: flex;
}
mjx-container[justify='left'] {
  text-align: left;
  justify-content: left;
}
mjx-container[justify='right'] {
  text-align: right;
  justify-content: right;
}
mjx-container[jax='SVG'] {
  direction: ltr;
  white-space: nowrap;
}
mjx-container[jax='SVG'] > svg {
  overflow: visible;
  min-height: 1px;
  min-width: 1px;
}
mjx-container[jax='SVG'] > svg a {
  fill: blue;
  stroke: blue;
}
rect[sre-highlighter-added]:has(+ .mjx-selected) {
  stroke: black;
  stroke-width: 80px;
}
mjx-assistive-mml {
  position: absolute !important;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 1px, 1px 1px, 1px 0);
  padding: 1px 0px 0px 0px !important;
  border: 0px !important;
  display: block !important;
  width: auto !important;
  overflow: hidden !important;
  text-indent: 0px !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
mjx-assistive-mml[display='block'] {
  width: 100% !important;
}
mjx-container[jax='SVG'] mjx-break {
  white-space: normal;
  line-height: 0;
  clip-path: rect(0 0 0 0);
  font-family: MJX-ZERO !important;
}
mjx-break[size='0'] {
  letter-spacing: -0.999em;
}
mjx-break[size='1'] {
  letter-spacing: -0.889em;
}
mjx-break[size='2'] {
  letter-spacing: -0.833em;
}
mjx-break[size='3'] {
  letter-spacing: -0.778em;
}
mjx-break[size='4'] {
  letter-spacing: -0.722em;
}
mjx-break[size='5'] {
  letter-spacing: -0.667em;
}
mjx-container[jax='SVG'] mjx-break[newline]::before {
  white-space: pre;
  content: '\A';
}
mjx-break[newline] + svg[width='0.054ex'] {
  margin-right: -1px;
}
mjx-break[prebreak] {
  letter-spacing: -0.999em;
}
@font-face /* zero */ {
  font-family: MJX-ZERO;
  src: url(data:application/x-font-woff;charset=utf-8;base64,T1RUTwAJAIAAAwAQQ0ZGIGnFMZkAAARQAAAAlE9TLzJpUWOBAAABAAAAAGBjbWFwAAwAUwAABAQAAAAsaGVhZCFRvpAAAACcAAAANmhoZWEC8AD9AAAA1AAAACRobXR4A+gAAAAABOQAAAAIbWF4cAACUAAAAAD4AAAABm5hbWVNb8+2AAABYAAAAqNwb3N0AAMAAAAABDAAAAAgAAEAAAABAABVWOu4Xw889QADA+gAAAAA3ym+2AAAAADfKb7YAAAAAAPoAAAAAAADAAIAAAAAAAAAAQAAAu79EgAAA+gAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAIAAFAAAAIAAAADA+gB9AAFAAACigK7AAAAjAKKArsAAAHfADEBAgAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAABYWFhYAEAAIAAgAu79EgAAAu4C7gAAAAEAAAAAAXcAAAAgACAAAAAAACIBngABAAAAAAAAAAEAQQABAAAAAAABAAsAAAABAAAAAAACAAcAIQABAAAAAAADABUAxgABAAAAAAAEABMANgABAAAAAAAFAAsApQABAAAAAAAGABIAbwABAAAAAAAHAAEAQQABAAAAAAAIAAEAQQABAAAAAAAJAAEAQQABAAAAAAAKAAEAQQABAAAAAAALAAEAQQABAAAAAAAMAAEAQQABAAAAAAANAAEAQQABAAAAAAAOAAEAQQABAAAAAAAQAAsAAAABAAAAAAARAAcAIQADAAEECQAAAAIAXwADAAEECQABABYACwADAAEECQACAA4AKAADAAEECQADACoA2wADAAEECQAEACYASQADAAEECQAFABYAsAADAAEECQAGACQAgQADAAEECQAHAAIAXwADAAEECQAIAAIAXwADAAEECQAJAAIAXwADAAEECQAKAAIAXwADAAEECQALAAIAXwADAAEECQAMAAIAXwADAAEECQANAAIAXwADAAEECQAOAAIAXwADAAEECQAQABYACwADAAEECQARAA4AKG1qeC1sbS16ZXJvAG0AagB4AC0AbABtAC0AegBlAHIAb1JlZ3VsYXIAUgBlAGcAdQBsAGEAcm1qeC1sbS16ZXJvIFJlZ3VsYXIAbQBqAHgALQBsAG0ALQB6AGUAcgBvACAAUgBlAGcAdQBsAGEAcm1qeC1sbS16ZXJvUmVndWxhcgBtAGoAeAAtAGwAbQAtAHoAZQByAG8AUgBlAGcAdQBsAGEAclZlcnNpb24gMC4xAFYAZQByAHMAaQBvAG4AIAAwAC4AMSA6bWp4LWxtLXplcm8gUmVndWxhcgAgADoAbQBqAHgALQBsAG0ALQB6AGUAcgBvACAAUgBlAGcAdQBsAGEAcgAAAAABAAMAAQAAAAwABAAgAAAABAAEAAEAAAAg//8AAAAg////4QABAAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAEAQABAQETbWp4LWxtLXplcm9SZWd1bGFyAAEBASf4GwD4HAL4HQP4HgSLi/mC+nwFHQAAAIYPHQAAAIkRix0AAACUEgAFAQEMHyoxNlZlcnNpb24gMC4xbWp4LWxtLXplcm8gUmVndWxhcm1qeC1sbS16ZXJvUmVndWxhcnNwYWNlAAAAAYsAAgEBAwaLDvp8DgAAAAAD6AAA)
    format('woff');
}
g[data-mml-node='merror'] > g {
  fill: red;
  stroke: red;
}
g[data-mml-node='merror'] > rect[data-background] {
  fill: yellow;
  stroke: none;
}
g[data-mml-node='mtable'] > line[data-line],
svg[data-table] > g > line[data-line] {
  stroke-width: 70px;
  fill: none;
}
g[data-mml-node='mtable'] > rect[data-frame],
svg[data-table] > g > rect[data-frame] {
  stroke-width: 70px;
  fill: none;
}
g[data-mml-node='mtable'] > .mjx-dashed,
svg[data-table] > g > .mjx-dashed {
  stroke-dasharray: 140;
}
g[data-mml-node='mtable'] > .mjx-dotted,
svg[data-table] > g > .mjx-dotted {
  stroke-linecap: round;
  stroke-dasharray: 0, 140;
}
g[data-mml-node='mtable'] > g > svg {
  overflow: visible;
}
[jax='SVG'] mjx-tool {
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
}
[jax='SVG'] mjx-tool > mjx-tip {
  position: absolute;
  top: 0;
  left: 0;
}
mjx-tool > mjx-tip {
  display: inline-block;
  line-height: 0;
  padding: 0.2em;
  border: 1px solid #888;
  background-color: #f8f8f8;
  color: black;
  box-shadow: 2px 2px 5px #aaaaaa;
}
g[data-mml-node='maction'][data-toggle] {
  cursor: pointer;
}
mjx-status {
  display: block;
  position: fixed;
  left: 1em;
  bottom: 1em;
  min-width: 25%;
  padding: 0.2em 0.4em;
  border: 1px solid #888;
  font-size: 90%;
  background-color: #f8f8f8;
  color: black;
}
foreignObject[data-mjx-xml] {
  font-family: initial;
  line-height: normal;
  overflow: visible;
}
foreignObject[data-mjx-html] {
  overflow: visible;
}
mjx-measure-xml {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  line-height: normal;
  white-space: normal;
}
mjx-html {
  display: inline-block;
  line-height: normal;
  text-align: initial;
  white-space: initial;
}
mjx-html-holder {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
mjx-container[jax='SVG'] path[data-c],
mjx-container[jax='SVG'] use[data-c] {
  stroke-width: 3;
}
