.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 400ms cubic-bezier(0.55, 0, 0.1, 1);
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(1em);
  filter: blur(12px);
}
.slide-fade-enter-to,
.slide-fade-leave-from {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}

.fade-in-enter-active,
.fade-in-leave-active {
  transition: opacity 400ms;
}

.fade-in-enter-from,
.fade-in-leave-to {
  opacity: 0;
}

@keyframes slide-in {
  from {
    opacity: 0;
    filter: blur(12px);
    transform: translateY(1em);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
